# Eagle save files
*.s#?
*.b#?

# Prerequisites
*.d
*.asm

# Object files
*.o
*.ko
*.obj
*.elf
*.rel

# Linker output
*.ilk
*.lk
*.map
*.exp
*.lst
*.rst
*.sym

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.ihx
*.hex

# Debug files
*.dSYM/
*.su
*.sdb
*.idb
*.pdb
*.cdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
